<div class="wrapper">
  <div class="container">

      <div class="icons">
        <i class="fa fa-upload fa-5x">Edit Image</i><br><br>
      </div>
      <%= form_for @photo  do |f| %>
      <%=f.label :caption %>
      <%=f.text_area :caption%><br>
      <%= f.submit "Edit Caption",class:"button"%>
      <% end %>

      <p><%= flash[:errors] %></p>

  </div>

</div>
